{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Homepage{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome to UICquant!</h1>
</div>
<div>
	        <div id="imgchangediv" style="width: 500px;height: 500px" align="center">
            <img src="1.jpg" style="display: block;"/>
            <img src="2.jpg" style="display: none;"/>
            <img src="3.jpg" style="display: none;"/>
            <div id="imgyuan">
                <font></font>
                <font></font>
                <font></font>
            </div>
        </div>

</div>
{% endblock %}
