{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}



{% block title %}My Strategy{% endblock %}


{% block page_content %}

<style type="text/css">
  .table{
    margin-top: 50px;
    height: auto;
    width: 100%;
    border-style: solid;
    border-radius: 2px;
    border-color: #C0C0C0;
  }   
  .strategies{
    flex-direction: column;
    width: 100%;
  }
  .strategy{
    width: 80%;
    text-align: center;
  }
  .td-new{
    border-right: 1px;
    border-right-style: solid;
    border-right-color: #C0C0C0;
  }
  .new-strategy{
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #C0C0C0;
    width: 100%;
    text-align: center;
  }
  .td-first{
    border-right: 1px;
    border-right-color: #C0C0C0;
    border-right-style: solid;
  }
  .td-second{
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #C0C0C0;
  }

</style>


<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>
<div class="table">
<table class="strategies" align="center">
    <tr class="new-strategy">
        <td class='td-new'><a href="{{ url_for('rqalpha.new_result') }}"><h3>Create Strategy</h3></a></td>
    </tr>

    {% for strategy in strategies %}
    <tr class="strategy">
        <td class='td-first'><a href="{{ url_for('rqalpha.result', strategyname=strategy.strategyname) }}"><h3>{{ strategy.strategyname }}</h3></a></td>
        <td class='td-second'><a href="{{ url_for('main.delete', username=current_user.username, strategyname=strategy.strategyname) }}">Delete</a></td>
            
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}